<html>
    <head>

    <title>{{ titulo }}</title>

{% block cabecalho %}

<script type=text/javascript src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>

<!-- Acerta padroes de formulario -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/formalize.css') }}" />
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.formalize.min.js') }}"></script>

<!-- Popup´s de notificacao -->
<script type=text/javascript src="{{ url_for('static', filename='js/noty/jquery.noty.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/noty/layouts/topCenter.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/noty/themes/default.js') }}"></script>
<script type=text/javascript>
$(document).ready(function() {
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == "erro" %}
    noty({
        text: '<img src="/static/img/dialog-error.png" style="vertical-align: middle; margin-right: 8px;" /> {{ message }}',
        layout: 'topCenter',
        type: 'alert',
        timeout: (2 * 1000),
        modal: true
    });
        {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}

});
</script>

{% endblock %}

    </head>
<body>

    {% block conteudo %}
    {% endblock %}

</body>
</html>