{% extends "base.html" %}

{% block conteudo %}

    <form method="POST" action="/login">
    {{ form.hidden_tag() }}

    {{ form.login(size=30) }}

    {{ form.senha(size=30) }}

    <button type="submit">Entrar</button>

    </form>

{% endblock %}